# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/@api
*.exe
*.pak
*.dll
*.dat
Beta-win32-x64/vk_swiftshader_icd.json
Beta-win32-x64/version
Beta-win32-x64/v8_context_snapshot.bin
Beta-win32-x64/snapshot_blob.bin
Beta-win32-x64/resources/app.asar
Beta-win32-x64/LICENSES.chromium.html
Beta-win32-x64/LICENSE
*.cmd
src/BetaChat/node_modules/.bin/acorn
src/BetaChat/node_modules/.bin/asar
src/BetaChat/node_modules/.bin/atob
src/BetaChat/node_modules/.bin/browserslist
